<!DOCTYPE html>
<html
	lang="en"
	class="ace ace-card-on ace-tab-nav-on ace-main-nav-on ace-sidebar-on"
	data-theme-color="#c0e3e7"
>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Kelvin Chen Resume</title>
		<meta name="description" content="just resume simple as it :D" />

		<!-- Icon Fonts -->
		<script
			src="https://kit.fontawesome.com/2292dfd48b.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
			media="all"
			rel="stylesheet"
			id="font-awesome-5-kit-css"
		/>
		<link
			href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css"
			media="all"
			rel="stylesheet"
			id="font-awesome-5-kit-css"
		/>
		<link
			href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"
			media="all"
			rel="stylesheet"
			id="font-awesome-5-kit-css"
		/>

		<!-- Styles -->
		<link
			href="javascripts/plugins/highlight/solarized-light.css"
			rel="stylesheet"
		/>
		<link href="stylesheets/style.css" rel="stylesheet" />
		<link rel="stylesheet" href="stylesheets/blog_navigation/swiper.min.css" />
		<link rel="stylesheet" href="stylesheets/blog_navigation/style.css" />
		<!-- Modernizer -->
		<script
			type="text/javascript"
			src="javascripts/vendor/modernizr-3.3.1.min.js"
		></script>
		<script type="text/javascript" src="/javascripts/protect.js"></script>
		<link rel="icon" type="image/png" href="/images/My Logo/favicon.png" />
	</head>
	<body>
		<div class="ace-wrapper">
			<header>
				<%- include('../partials/header') %> <%-
				include('../partials/hidden_navigation') %>
			</header>
			<%- include('../partials/name_card') %> <%- body%> <%-
			include('../partials/side_bar') %>
			<footer><%- include('../partials/footer') %></footer>
		</div>
		<!-- .ace-wrapper -->
	</body>
	<!-- Scripts -->
	<script
		type="text/javascript"
		src="javascripts/vendor/jquery-1.12.4.min.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/plugins/highlight/highlight.pack.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/plugins/jquery.mCustomScrollbar.min.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/plugins/isotope.pkgd.min.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/plugins/progressbar.min.js"
	></script>
	<script type="text/javascript" src="javascripts/plugins/slick.min.js"></script>
	<script type="text/javascript" src="javascripts/options.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>

	<script
		type="text/javascript"
		src="javascripts/blog_navigation/jquery.min.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/blog_navigation/swiper.min.js"
	></script>
	<script
		type="text/javascript"
		src="javascripts/blog_navigation/script.js"
	></script>
</html>
